/* VARIABLES */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg: #eeeeee;
$color-btn: linear-gradient(to bottom,#FF79DA 0%,#9356DC 100%);
$num-items: 4;
$anim-dur: 1500ms;
$anim-delay: $anim-dur;