/* LOADER */
.loader{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: $color-tertiary;
    background-size: 100vh;
    opacity: 0;
    animation: opacity-loader 3000ms ease-in-out;
    &__logo{
        position: fixed;
        top: 50%;
        left: 45%;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-top: 20px solid $color-primary;
        border-right: 20px solid $color-secondary;
        border-bottom: 20px solid darken($color-tertiary,10);
        border-left: 20px solid $color-bg;
        border-radius: 50%;
        opacity: 0;
        animation: spin 1000ms linear 2 backwards;
    }
    &__txt{
        margin:200px  auto;
        padding: 4rem;
        font-family: 'Shrikhand', cursive;
        font-size: 4em;
        text-align: center;
        opacity: 0;
        animation: bounce-top 1000ms 2 ease-in-out alternate;
    }
}